:root {
    --primary-color: #fd911f ;
    --bg-color: #130f0d;
    --text-color: #f0f0f5;
    --light-blue: rgba(255, 255, 255, 0.04);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

body {
    height: 100vh;

    display: flex;
    flex-direction: column;

    background-color: var(--bg-color);
    color: var(--text-color);
}